In [1]:
%load_ext autoreload
%autoreload 2

import os
os.environ["WANDB_DISABLED"] = "true"

import sys
sys.path = [
    p for p in sys.path
    if p not in ['/home/jxm3/research/prompting/imodelsX', '/home/jxm3/research/prompting/tree-prompt']
]
sys.path.append('/home/jxm3/research/retrieval/inversion')

In [2]:
import analyze_utils

full_df = analyze_utils.load_results_from_folder("/home/jxm3/research/retrieval/inversion/results_evaluation")

[2023-08-29 09:30:48,270] [INFO] [real_accelerator.py:110:get_accelerator] Setting ds_accelerator to cuda (auto detect)

===================================BUG REPORT===================================
Welcome to bitsandbytes. For bug reports, please run

python -m bitsandbytes

 and submit this information together with your error trace to: https://github.com/TimDettmers/bitsandbytes/issues
================================================================================
bin /home/jxm3/.conda/envs/torch/lib/python3.10/site-packages/bitsandbytes/libbitsandbytes_cuda117.so
CUDA SETUP: CUDA runtime path found: /home/jxm3/.conda/envs/torch/lib/libcudart.so.11.0
CUDA SETUP: Highest compute capability among GPUs detected: 8.6
CUDA SETUP: Detected CUDA version 117
CUDA SETUP: Loading binary /home/jxm3/.conda/envs/torch/lib/python3.10/site-packages/bitsandbytes/libbitsandbytes_cuda117.so...

In [3]:
full_df

,eval_loss,eval_pred_num_tokens,eval_true_num_tokens,eval_token_set_precision,eval_token_set_recall,eval_token_set_f1,eval_bleu_score,eval_meteor_score,eval_rouge_score,eval_exact_match,...,eval_accuracy,eval_perplexity,eval_token_set_f1_std,eval_bleu_score_std,eval_exact_match_std,eval_emb_cos_sim_std,eval_token_set_f1_sem,eval_bleu_score_sem,eval_exact_match_sem,eval_emb_cos_sim_sem
0,0.640425,31.000000,32.000000,0.817920,0.833263,0.824916,53.628772,0.762263,0.802258,0.112000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.640425,31.000000,32.000000,0.939195,0.945837,0.942277,80.372476,0.919825,0.933675,0.488000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.640425,31.000000,32.000000,0.939195,0.945837,0.942277,80.372476,0.919825,0.933675,0.488000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.640425,31.000000,32.000000,0.957666,0.962489,0.959898,84.068618,0.944130,0.953919,0.524000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.640425,31.000000,32.000000,0.957666,0.962489,0.959898,84.068618,0.944130,0.953919,0.524000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.640421,31.000000,32.000000,0.949973,0.954769,0.952123,82.925866,NaN,0.953812,0.524000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003808,1.040035,0.022357,0.001017
128,1.186289,24.727272,23.727272,0.920851,0.932043,0.925159,80.707259,NaN,0.925525,0.585859,...,NaN,NaN,NaN,NaN,NaN,NaN,0.013255,2.820870,0.049757,0.002052
129,0.758726,30.843750,31.828125,0.867457,0.882255,0.874005,60.648304,NaN,0.870695,0.174000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.005837,1.259722,0.016971,0.001251
130,0.640379,31.000000,32.000000,0.991587,0.991902,0.991716,97.157727,NaN,0.992696,0.920000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.001908,0.524568,0.012145,0.000198
131,0.640379,31.000000,32.000000,0.968036,0.972053,0.969847,91.197912,NaN,0.971555,0.774000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003837,0.910889,0.018723,0.000680

In [4]:
import math

full_df["eval_bleu_score_sem_calc"] = full_df["eval_bleu_score_std"]/ math.sqrt(99)
full_df[["dataset", "eval_bleu_score_sem_calc"]].dropna()

              dataset  eval_bleu_score_sem_calc
95            scifact                  0.335431
96      climate-fever                  1.142893
97            arguana                  0.358962
98     dbpedia-entity                  1.395495
99              fever                  1.138263
100       cqadupstack                  0.576608
101          hotpotqa                  1.499031
102           msmarco                  1.025689
103          nfcorpus                  0.334842
104             quora                  2.917319
105                nq                  0.887300
106        trec-covid                  0.554264
107           scifact                  0.410038
108  webis-touche2020                  0.528205
109          signal1m                  1.520986

In [5]:
full_df[["dataset", "eval_bleu_score_sem"]].dropna()

            dataset  eval_bleu_score_sem
110            fiqa             0.583383
111       trec-news             0.316059
116   climate-fever             3.280849
117        hotpotqa             2.582521
119            fiqa             1.801687
123  dbpedia-entity             2.596933
124           quora             1.335247
128        signal1m             2.820870

In [6]:
full_df.columns

Index(['eval_loss', 'eval_pred_num_tokens', 'eval_true_num_tokens',
       'eval_token_set_precision', 'eval_token_set_recall',
       'eval_token_set_f1', 'eval_bleu_score', 'eval_meteor_score',
       'eval_rouge_score', 'eval_exact_match', 'eval_emb_cos_sim',
       'eval_runtime', 'eval_samples_per_second', 'eval_steps_per_second',
       'alias', 'num_samples', 'return_best_hypothesis',
       'num_gen_recursive_steps', 'sequence_beam_width', 'beam_width',
       'eval_n_ngrams_match_1', 'eval_n_ngrams_match_2',
       'eval_n_ngrams_match_3', 'eval_num_true_words', 'eval_num_pred_words',
       'dataset', 'eval_accuracy', 'eval_perplexity', 'eval_token_set_f1_std',
       'eval_bleu_score_std', 'eval_exact_match_std', 'eval_emb_cos_sim_std',
       'eval_token_set_f1_sem', 'eval_bleu_score_sem', 'eval_exact_match_sem',
       'eval_emb_cos_sim_sem', 'eval_bleu_score_sem_calc'],
      dtype='object')

In [7]:
full_df["alias"].value_counts()

alias
openai_msmarco__msl128__100epoch__correct          34
gtr_nq__msl32_beta__correct                        25
openai_msmarco__msl128__200epoch__correct          24
gtr_msmarco__msl128__100epoch                      19
openai_msmarco__msl128__100epoch                   17
openai_msmarco__msl128__100epoch__correct_cheat    11
openai_msmarco__msl32__100epoch__correct            2
Name: count, dtype: int64

In [8]:
"|-----------------------------------------------------|-------|-------|-------|---------|-----|------|----------|------|------|-------|----------|------|-------|-------|".count("|")

16

In [9]:
parsed_df = (
    full_df[
        (full_df["alias"]  == "openai_msmarco__msl128__200epoch__correct") | (full_df["alias"] == "openai_msmarco__msl128__100epoch")][["alias", "dataset", "eval_bleu_score"]].groupby(["dataset", "alias"]).mean().reset_index().pivot(columns="alias", index="dataset")
    
)
parsed_df.columns = ['Baseline', 'Vec2Text']
print(parsed_df.to_markdown(floatfmt=".1f"))

| dataset          |   Baseline |   Vec2Text |
|:-----------------|-----------:|-----------:|
| arguana          |        6.8 |       20.6 |
| bioasq           |      nan   |       22.8 |
| climate-fever    |       12.8 |       49.2 |
| cqadupstack      |        7.1 |      nan   |
| dbpedia-entity   |       15.4 |       46.6 |
| fever            |       12.6 |       45.1 |
| fiqa             |        6.6 |       21.6 |
| hotpotqa         |       15.4 |       42.7 |
| msmarco          |       15.5 |       59.6 |
| nfcorpus         |        6.2 |       26.1 |
| nq               |       11.0 |       32.7 |
| quora            |       36.2 |       95.6 |
| robust04         |      nan   |       15.5 |
| scidocs          |      nan   |       17.2 |
| scifact          |        5.0 |       18.1 |
| signal1m         |       13.2 |       76.5 |
| trec-covid       |        5.6 |       19.2 |
| trec-news        |        4.9 |       14.5 |
| webis-touche2020 |        6.6 |       19.6 |

In [10]:
(parsed_df['Vec2Text'] / parsed_df['Baseline']).dropna().mean()

3.4642454241497926